extends layout

block content
  .container.container-fluid.text-center
    .container(id="div-display")
    .container
      span score
    .container
      p Using arrow key to turn the snake.
      
  script(src="/javascripts/game-snake.js")