extends layout

block content
  div.container
    div.row
      div.col-sm-6
        div.card
          img.card-img-top(src="images/snake_screenshot-01.png")
          div.card-body
            h5.card-title Hello, snake game!
            p.card-text This is a simple snake game, 
            a.btn.btn-primary.btn-lg(href="/snake" role="button") Play
      div.col-sm-6
        div.container.card
          div.card-body
            h5.card-title Hello, world!
            p.card-text This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
            a.btn.btn-light.btn-lg(href="/" role="button") None