extends layout

block content
  div.container
    div.row
      div.col-sm-6
        div.container.card
          img.card-img-top(src="images/snake_screenshot-01.png")
          div.card-body
            h5.card-title Hello, snake classic game!
            p.card-text This is a simple snake game, 
            a.btn.btn-primary.btn-lg(href="/snake" role="button") Play
      div.col-sm-6
        div.container.card
          img.card-img-top(src="images/snake_screenshot-02.png")
          div.card-body
            h5.card-title Special snake game to fight COVID19!!!
            p.card-text This game attached more bonus score with COVID-19.
            a.btn.btn-primary.btn-lg(href="/snakec19" role="button") Play